:root {
  --text-clr: rgb(114, 114, 114);
  --grid-width: 320px;
  --body-background: rgb(216, 218, 218);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  _border: 0.5px solid rgb(165, 58, 58);

  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: var(--body-background);
}

.main-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, var(--grid-width));
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .main-grid {
    grid-template-columns: 1fr;
  }
}
.shoes-article {
  border-radius: 10px;
  background-color: white;
  text-align: left;
}
.header {
  position: relative;
}
.img-header {
  width: 100%;
  height: auto;
  border-radius: 10px;
  /*-moz-box-shadow: inset 40px 40px 50px #7e3939;
  -webkit-box-shadow: inset 40px 40px 50px #662828; !!!!!!!DAS FUNKTIONIERT NICHT*/
  box-shadow: inset 10px 10px 20px 10px red; /*das funktioniert auch nicht*/
}
.photo-source {
  position: absolute;
  left: 5px;
  top: 195px;
  font-size: 0.5rem;
  color: var(--text-clr);
}
.sale {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  font-size: 0.6rem;
  color: black;
  background-color: white;
  border-radius: 5px;
  transform-origin: 100% 0 0;
  opacity: 0.5;
}

.header:hover .sale,
.header:focus-within .sale {
  transform: scale(1.3);
  opacity: 1;
}
.shoes-content {
  margin: 5px 5px;
}
.shoes-h1 {
  font-size: 0.8rem;
}
.shoes-description {
  color: var(--text-clr);
  font-size: 0.8rem;
  padding-bottom: 5px;
}
/* Die Elemente, die einen Zugriff auf die Datenbank/Server (etw.wo die Daten gesammelt,gespeichert werden
 haben sollen, mussen mit form definiert werden? z.B Onlineshop:Anzahl,Farbe usw.?????*/
.shoes-details {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-content: center;
  background-color: var(--body-background);
  border-radius: 10px;
}

.price-buy {
  grid-column-end: span 2;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.price {
  background-color: white;
  margin-top: 0px;
}
.buy-button {
  background-color: rgb(63, 101, 224);
  border-color: transparent;
  color: white;
}

.label-form {
  padding-right: 10px;
  font-size: 0.8rem;
  color: var(--text-clr);
}
.dropdown {
  border-color: transparent;
  border-radius: 5px;
  width: 50px;
}

.colors-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  grid-column-end: span 2;
}
.color {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}
.only-sr {
  font-size: 0;
  position: absolute;
}
input[type="radio"]:checked + label > .color {
  outline-offset: 1px;
  outline: 2px solid black;
}
input[type="radio"] {
  all: unset;
  position: absolute;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.green-black {
  background-image: linear-gradient(90deg, green 50%, black 50%);
}
.blue-black {
  background-image: linear-gradient(90deg, blue 50%, black 50%);
}
.violet-black {
  background-image: linear-gradient(90deg, violet 50%, black 50%);
}
.red-white {
  background-image: linear-gradient(90deg, red 50%, white 50%);
}
.black-white {
  background-image: linear-gradient(90deg, black 50%, white 50%);
}
