:root {
  --text-clr: rgb(114, 114, 114);
  --grid-width: 300px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  _border: 0.5px solid rgb(165, 58, 58);
}
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: rgb(216, 218, 218);
}
.main-grid {
  margin: 0 auto;
  _border: 5px solid black;
  display: grid;
  grid-template-columns: repeat(3, var(--grid-width));
  justify-content: space-evenly;
}
.shoes-article {
  _border: 5px solid red;
  border-radius: 10px;
  background-color: white;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .main-grid {
    grid-template-columns: 1fr;
  }
}

.img-header {
  width: 100%;
  height: auto;
}

.shoes-content {
  margin: 5px 5px;
}
.shoes-p {
  color: var(--text-clr);
}
